.App {
  text-align: left;
}

.App-logo {
  height: 80px;
}

.App-logo-gogo {
  animation: App-logo-spin infinite 0.5s linear;
  height: 80px;
}

.App-logo-gogo-r {
  animation: App-logo-spin infinite 0.7s linear;
  height: 80px;
}

.App-header {
  height: 50vh;
  padding: 15vh;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  justify-content: flex-start;
  text-align: left;
  padding-left: 10vw;
  font-family: "Courier New", Courier;
  height: 50vh;
}

.App-palimp {
  font-size: 0.5em;
  justify-content: flex-start;
  text-align: left;
  margin-right: 10vw;
  font-family: "Courier New", Courier;
  overflow-y: scroll;
  height: 100%;
  width: 20vw;
  min-width: 190px;
  float: left;
  border-width: 10px;
}

.App-verse {
  text-align: center;
  margin-left: 20%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rant {
  font-weight: bold;
}

.rant:hover {
  font-size: 2em;
  color: red !important;
}

.rant:active {
  font-size: 2em;
  color: red !important;
}

.day {
  text-transform: uppercase;
}

.day:hover {
  font-size: 2em;
  color: orange !important;
}

.App-palimp:hover {
  background-color: yellow !important;
  font-size: 1.5em;
  color: darkslategrey !important;
  height: 80vw;
  width: 80vw;
}

button {
  border-radius: 25%;
}

button:focus {
  outline: 0;
}

button {
  border-radius: 25%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin: 3px;
}

button:focus {
  outline: 0;
}

.buttonplay {
  background-color: silver;
  color: green;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25%;
}

.buttonstop {
  background-color: silver;
  color: red;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25%;
}

#machine {
  background: tan;
  border-width: 10px;
  border-color: brown;
  border-radius: 20%;
  border-style: solid;
  float: left;
  width: 266px;
  height: 100px;
}

.mic {
  border-style: solid;
  border-width: 2px;
  border-color: silver;
}

html {
}

.custom-modal {
  width: fit-content;
  padding: 1%;
  position: absolute;
  width: 50vw;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

FormControl {
  height: fit-content;
}

.excerpt:hover {
  background-color: yellow !important;
  color: darkslategrey !important;
}

body {
  background-color: black;
}

.modal-dialog {
}

.panel {
  margin-left: 15%;
  margin-right: 15%;
  padding: 3%;
}

.paneldate {
}

.panelbuttons {
  float: right;
  margin-top: 10px;
}

.writebox {
  width: fit-content;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

#inline {
  height: auto;
  display: flex;
}

.one {
  width: 90%;
}

.two {
  width: 10%;
  margin: 0px;
}
